<div>
   {% if section.settings.intro_heading != blank %}
    <div>
        <h6>{{ section.settings.intro_heading }}</h6>
    </div>
   {% endif %}
    
    {% if section.settings.intro_title !=blank %}
      <div>
        <h4>{{ section.settings.intro_title }}</h4>
      </div>
    {% endif %}

    {% if section.settings.intro_main_image !=blank %} 
    <div>
          <img src="{{ section.settings.intro_main_image | img_url : 'master' }}" alt="image.alt | t" />
    </div>
    {% endif %}

    <div>
         <h5>{{ section.settings.image_title }}</h5>
    </div>
  
    {% if section.settings.intro_second_image != blank %}
    <div>
        <p>{{ section.settings.description }}</p>
        <img src="{{ section.settings.intro_second_image | img_url : 'master' }}" alt="image.alt | t" />
        <p>{{ section.settings.content_one }}</p>
    </div>
    {% endif %}

    {% if section.settings.title_text != blank %}
      <div>
        <h4>{{ section.settings.title_text }}</h4>
      </div>
      {% endif %}

      <div>
        {% for block in section.blocks %}
      {% if block.type == 'image' %}
        <div>
       <img src="{{ block.settings.image_demo | img_url : 'master' }}" />
        </div>
        {% endif %}
          {% endfor %}
      </div>



    <div>
      {% for block in section.blocks %}
      {% if block.type == "title" %}
        <div>
      <p>{{ block.settings.image_detail }}</p>
      <p>{{ block.settings.image_content }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  
</div>



{% schema %}
  {
    "name": "Introduction Section",
    "class": "adv-intro-section",
    "settings": [
      {
        "type":"text",
        "id":"intro_heading",
        "label": "Heading"
      },
      {
        "type":"html",
        "id":"intro_title",
        "label":"Title"
      },
      {
        "type":"image_picker",
        "id":"intro_main_image",
        "label":"Image"
      },
      {
        "type":"text",
        "id":"image_title",
        "label":"Image Title"
      },
      {
        "type":"html",
        "id":"description",
        "label":"Description"
      },
      {
        "type":"image_picker",
        "id":"intro_second_image",
        "label":"Content Image"
      },
      {
        "type":"html",
        "id":"content_one",
        "label":"Product Detail"
      },
      {
        "type":"html",
        "id":"title_text",
        "label":"Title"
      }
    ],
    "blocks":[
      {
        "name":"Image",
        "type":"image",
        "settings":[
          {
            "type":"image_picker",
            "id":"image_demo",
            "label":"Image"
          }
        ]
      },
      {
        "type":"title",
        "name":"Title",
        "settings":[
          {
            "type": "html",
            "id": "image_detail",
            "label": "Text"
          },
          {
            "type":"html",
            "id":"image_content",
            "label":"Content"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}