<div class="advs_section_left">
  <div class="adv_detail_main">
    
    {% if section.settings.detail_heading != blank %}
      <div class="adv_detail_block">
    <h2>{{ section.settings.detail_heading }}</h2>
    <p>{{ section.settings.detail_content }}</p>
      </div>
    {% endif %}

    {% if section.settings.detail_heading != blank %}
      <div class="adv_detail_block_sec">
    <h2>{{ section.settings.second_detail_heading }}</h2>
      </div>
    {% endif %}

    {% for block in section.blocks %}
      {% if block.type == 'product-detail' %}
        <div class="product_image">
          
          {% if block.settings.product_img != blank %}
        <img src="{{ block.settings.product_img | img_url : 'master' }}" alt="image.alt | t" />
          {% endif %}
        
          {% if block.settings.discount_desc != blank %}
        <p>{{ block.settings.discount_desc }}</p>
          {% endif %}
        
        </div>
      {% endif %}
    {% endfor %}

    {% for block in section.blocks %}
      {% if block.type == 'price' %}
        <div class="product_price">
          {% if block.settings.discount_price != blank %}
        <p>{{ block.settings.discount_price }}</p>
        <p>{{ block.settings.current_price }}</p>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}

    <div class="detail_block_logo">
    {% for block in section.blocks %}
      {% if block.type == "logo" %}
        {% if block.settings.detail_logo_img != blank %}
        <img src="{{ block.settings.detail_logo_img | img_url : 'master' }}" alt="image.alt | t" />
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

    <div class="text_with_logo">
    {% for block in section.blocks %}
      {% if block.type == "logo-with-text" %}
        {% if  block.settings.adv_detail_content !=   blank %}
          <p>{{ block.settings.adv_detail_content }}</p>
        {% endif %}
        {% if block.settings.logo_img != blank %}
        <img src="{{ block.settings.logo_img | img_url : 'master' }}" alt="image.alt | t" />
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

    <div class="image_banner_ct">
    {% for block in section.blocks %}
      {% if block.type == "image-banner" %}
        
        {% if block.settings.img_banner != blank %}
        <img src="{{ block.settings.img_banner | img_url : 'master' }}" alt="image.alt | t" />
        {% endif %}

        {% if block.settings.banner_heading != blank %}
        <h2>{{ block.settings.banner_heading }}</h2>
        {% endif %}

        {% if block.settings.banner_title != blank %}
        <p>{{ block.settings.banner_title }}</p>
        {% endif %}

       <div class="advs_section_avl-btn">
      {% if section.setting.btn_text != '' %}
         <a href="{{ section.settings.check_btn_link }}">{{ section.settings.btn_text }}</a>
      {% endif %}
    </div>
        
      {% endif %}
    {% endfor %}
  </div>
    
  </div>
</div>

{% schema %}
  {
    "name": "Adevertorial Detail",
    "class":"adv-detail-ct",
    "settings": [
      {
        "type":"html",
        "id":"detail_heading",
        "label":"Heading"
      },
      {
        "type":"html",
        "id":"detail_content",
        "label":"Content"
      },
      {
        "type":"html",
        "id":"second_detail_heading",
        "label":"Second Heading"
      }
    ],
    "blocks":[
      {
        "type":"product-detail",
        "name":"Product Detail",
        "settings":[
          {
            "type":"image_picker",
            "id":"product_img",
            "label":"Product Image"
          },
          {
            "type":"html",
            "id":"discount_desc",
            "label":"Discount Description"
          }
        ]
      },
      {
        "type":"price",
        "name":"Price",
        "settings":[
          {
            "type":"text",
            "id":"discount_price",
            "label":"Discount Price"
          },
          {
            "type":"text",
            "id":"current_price",
            "label":"Current Price"
          }
        ]
      },
      {
        "type":"logo",
        "name":"Logo",
        "settings":[
          {
            "type":"image_picker",
            "id":"detail_logo_img",
            "label":"Choose Logo Image"
          }
        ]
      },
      {
        "type":"logo-with-text",
        "name":"Logo with text",
        "settings":[
          {
            "type":"image_picker",
            "id":"logo_img",
            "label":"Choose Logo Image"
          },
          {
            "type":"html",
            "id":"adv_detail_content",
            "label":"Description"
          }
        ]
      },
      {
        "type":"image-banner",
        "name":"Image Banner",
        "settings":[
          {
            "type":"image_picker",
            "id":"img_banner",
            "label":"Image"
          },
          {
            "type":"html",
            "id":"banner_heading",
            "label":"Banner Heading"
          },
          {
            "type":"html",
            "id":"banner_title",
            "label":"Banner Title"
          },
          { 
            "type":"text",
            "id":"btn_text",
            "label":"Button name",
            "default":"CHECK AVAILABILITY"
          },
          {
            "type":"url",
            "id":"check_btn_link",
            "label":"Link"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}