<div>
  <div>
    <h5>{{ section.settings.zigzag_title }}</h5>
    <p>{{ section.settings.zigzag_content }}</p>
  </div>

  <div >
    {% for block in section.blocks %}
      {% if block.type == "zig-zag"%}
        <div>
          <h4>{{ block.settings.zigzag_heading }}</h4>
          <p>{{ block.settings.zigzag_desc }}</p>
        </div>
        {% endif %}
      {% endfor %}

    {% for block in section.blocks %}
      {% if block.type == "zig-zag"%}
        <div>
        <img src="{{ block.settings.zigzag_img | img_url : 'master' }}" alt="image.alt | t" />
        </div>
        {% endif %}
      {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Zig-zag",
    "class":"adv-zigzag",
    "settings": [
      {
        "type":"html",
        "id":"zigzag_title",
        "label":"Title"
      },
      {
        "type":"html",
        "id":"zigzag_content",
        "label":"Content"
      }
    ],
    "blocks":[
      {
        "name":"zig zag",
        "type":"zig-zag",
        "settings":[
          {
            "type":"text",
            "id":"zigzag_heading",
            "label":"Heading"
          },
          {
            "type":"html",
            "id":"zigzag_desc",
            "label":"Description"
          },
          {
            "type":"image_picker",
            "id":"zigzag_img",
            "label":"Image"
          },
          {
            "type":"select",
            "id":"image_aligment",
            "options":[
              {
                "value": "image_left",
                "label": "Left"
              },
              {
                "value": "image_right",
                "label": "Right"
              }
            ],
            "label":"Image Alignment",
            "default":"image_left"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}