<div class="advs_section_left">
  <div class="adv_review_main">
    
    {% for block in section.blocks %}
      {% if block.type == 'review-box' %}
        <div class="review_box_ctm">
         {% if block.settings.reviews_star != blank %}
          <img src="{{ block.settings.reviews_star | img_url : 'master' }}" alt="image.alt | t" />
         {% endif %}

          {% if block.settings.review_heading != blank %}
          <h4>{{ block.settings.review_heading }}</h4>
          {% endif %}

         {% if block.settings.review_desc != blank %}
          {{ block.settings.review_desc }}
         {% endif %}

          {% if block.settings.reviewer_name != blank %}
            <p>{{ block.settings.reviewer_name }}</p>
            {% render 'verified-buyer' %}
            <p>{{ block.settings.verified_text }}</p>
          {% endif %}
          
        </div>
      {% endif %}
    {% endfor %}
  
</div>
</div>
{% schema %}
  {
    "name": "Review",
    "class":"adv_review",
    "settings": [
      
    ],
    "blocks":[{
      "type":"review-box",
      "name":"Review box",
      "settings":[
        {
          "type":"image_picker",
          "id":"reviews_star",
          "label":"Review Image"
        },
        {
        "type":"html",
        "id":"review_heading",
        "label":"Heading"
      },
      {
        "type":"html",
        "id":"review_desc",
        "label":"Description"
      },
      {
        "type":"text",
        "id":"reviewer_name",
        "label":"User Name"
      },
      {
        "type":"text",
        "id":"verified_text",
        "label":"Verified Text",
        "default":"Verified Buyer"
      }
      ]
    }
      
    ]
  }
{% endschema %}

