<div class="advs_section_left"> 
  {% if section.settings.zigzag_title != blank %}
  <div>
    <h5>{{ section.settings.zigzag_title }}</h5>
    <p>{{ section.settings.zigzag_content }}</p>
  </div>
   {% endif %}

  <div class="zig_zag_ctm">
    {% for block in section.blocks %}
        {% capture img_placement %}
          <div class="img_wrapper">
             <img src="{{ block.settings.zigzag_img | img_url : 'master' }}" alt="image.alt | t" />
          </div>
       {% endcapture %}
      {% if block.type == "zig-zag" %}
        {% if block.settings.image_aligment == 'image_left' %}
          {{ img_placement }}
        {% endif %}
       
        <div class="zig_zag_content">
          <h4>{{ block.settings.zigzag_heading }}</h4>
          <p>{{ block.settings.zigzag_desc }}</p>
        </div>

        {% if block.settings.image_aligment == 'image_right' %}
          {{ img_placement }}
        {% endif %}
    
        {% endif %}
      {% endfor %}

  </div>
  
 {% if section.settings.zigzag_other_content %}
   <div class="zigzag_other_content">
   <p>{{ section.settings.zigzag_other_content }}</p>
   </div>
   {% endif %}
</div>

{% schema %}
  {
    "name": "Zig-zag",
    "class":"adv-zigzag",
    "settings": [
      {
        "type":"html",
        "id":"zigzag_title",
        "label":"Title"
      },
      {
        "type":"html",
        "id":"zigzag_content",
        "label":"Content"
      },
      {
        "type":"html",
        "id":"zigzag_other_content",
        "label":"Other Content"
      }
    ],
    "blocks":[
      {
        "name":"zig zag",
        "type":"zig-zag",
        "settings":[
          {
            "type":"text",
            "id":"zigzag_heading",
            "label":"Heading"
          },
          {
            "type":"html",
            "id":"zigzag_desc",
            "label":"Description"
          },
          {
            "type":"image_picker",
            "id":"zigzag_img",
            "label":"Image"
          },
          {
            "type":"select",
            "id":"image_aligment",
            "options":[
              {
                "value": "image_left",
                "label": "Left"
              },
              {
                "value": "image_right",
                "label": "Right"
              }
            ],
            "label":"Image Alignment",
            "default":"image_left"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}