{% if section.settings.color == blank %}
<div class="content_wrapper" style="background-color:{{section.settings.color}}; color:{{section.settings.color_text}}">
  {% else %}
  <div style="background-image:{{section.settings.image1 | img_url:'master'}}">
    <h3 class="section-title mb-20">{{section.settings.heading}}</h3>
    <p>{{section.settings.info}}</p>
    <div>
    {% if section.settings.button_label != blank %}
      <a href="{{section.settings.button_link}}">{{section.settings.button_label}}</a>
    {% endif %}
    </div>
  </div>
</div>
  {% endif %}
{% schema %}
{
  "name": "info-text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
        "type": "html",
        "id": "info",
        "label": "Information"
      },
      {
          "type": "color",
          "id": "color",
          "label": "Background-color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Color",
          "default": "#000"
        },
        { 
          "type":"text",
          "id":"button_label",
          "label":"Button label"
      },
      {
          "type":"url",
          "id":"button_link",
          "label":"Button link"
      },
      {
        "type":"image_picker",
        "id":"image1",
        "label":"Left Image"
      }
      ],

  "presets": [
    {
      "name": "info-text"
    }
  ]
}
{% endschema %}