<div class="feature-table-section flex flex-wrap mdscreen1:flex-col {{ section.settings.extra_class }}">
  <div class="feature-hightleft bg-dark_blue w-full mdscreen2:w-1/2 px-30 py-40 mdscreen2:p-50 small_desktop:p-80">
    <div class="feature-top {% if section.settings.heading1 != blank %} mb-50 {% endif%}">
      <div class="section-title">
        <h2 class="mb-35 text-white">{{ section.settings.heading }}</h2>
      </div>
      <div class="content_wrapper text-white">
        {{ section.settings.content }}
      </div>
    </div>
    <div class="feature-bottom">
      <div class="section-title">
        <h2 class="text-white {% if section.settings.heading1 != blank %}mb-35{% endif %}">{{ section.settings.heading1 }}</h>
      </div>
      <div class="content_wrapper"> 
        <p>{{ section.settings.content1 }}</p>
      </div>
    </div>
  </div>
      
{% if section.settings.only_show_image == false %}
   <div class="feature-hightright flex flex-col justify-center bg-blue w-full mdscreen2:w-1/2 px-20 pt-40 pb-30 mdscreen2:p-50 small_desktop:p-80">
        <div class="block-title">
            <h2 class="section-title mb-20 text-white pl-10">{{section.settings.title}}</h2>
            <h4 class="section-subtitle mb-20 text-white pl-10">{{section.settings.subtitle}}</h4>
        </div>
        <div class="feature-table-block">
          <table class="feature-table">
            {% for block in section.blocks %}
                  
                  {% if block.type == 'simple' %}

                      {% if block.settings.heading != blank %}
                        <tr class="table-listtr{{ forloop.index }}">
                          <th>{{ block.settings.heading }}</th>
                          <td>{{ block.settings.info }}</td>
                        </tr>
                      {% endif %}

                  {% elsif block.type == 'nameonly' %}

                      {% if block.settings.onlyname != blank %}
                        <tr class="table-listtr{{ forloop.index }}"><th colspan="2">{{ block.settings.onlyname }}</th></tr>
                      {% endif %}
                    
                  {% elsif block.type == 'complex' %}

                      {% if block.settings.key != blank %}
                        <tr class="table-listtr{{ forloop.index }}">
                          <th rowspan="{{ block.settings.rowspan }}">{{ block.settings.key }}</th>
                          {% if block.settings.info_1 != blank %}<td>{{ block.settings.info_1 }}</td>{% endif %}
                        </tr>
                        
                        {% if block.settings.info_2 != blank %}<tr class="table-listtr{{ forloop.index }}"><td>{{ block.settings.info_2 }}</td></tr>{% endif %}
                        {% if block.settings.info_3 != blank %}<tr class="table-listtr{{ forloop.index }}"><td>{{ block.settings.info_3 }}</td></tr>{% endif %}
                        {% if block.settings.info_4 != blank %}<tr class="table-listtr{{ forloop.index }}"><td>{{ block.settings.info_4 }}</td></tr>{% endif %}
                        {% if block.settings.info_5 != blank %}<tr class="table-listtr{{ forloop.index }}"><td>{{ block.settings.info_5 }}</td></tr>{% endif %}
                      {% endif %}  

                  {% endif %}
            {% endfor %}
          </table>
        </div>
   </div>

   {% else %}

    <div class="feature-imgright w-full mdscreen2:w-1/2">
      {% if section.settings.image != blank %}
      <img class="w-full h-full" src="{{ section.settings.image | img_url:'master' }}">
      {% endif %}
    </div>
    {% endif %}
</div>

{% schema %}
      {
        "name": "text-table",
        "class":"section",
        "settings": [
        {
          "type": "text",
          "id": "extra_class",
          "label": "Extra class"
        },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "heading1",
            "label": "Heading-1"
          },
          {
            "type": "html",
            "id": "content1",
            "label": "Content-1"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "checkbox",
            "id": "only_show_image",
            "label": "Only Show Image Hide Table",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
         
        ],
        "blocks": [
          {
            "type": "simple",
            "name": "Simple Table",
            "settings": [
              {
                "type": "text",
                "id": "heading",
                "label": "Name"
              },
              {
                "type": "text",
                "id": "info",
                "label": "Information"
              }
            
            ]
            
          },
          {
            "type": "nameonly",
            "name": "Name only Table",
            "settings": [
              {
                "type": "text",
                "id": "onlyname",
                "label": "Single Name"
              }
            ]
          },
          {
            "type": "complex",
            "name": "Complex Table",
            "settings": [
            
              {
                "type": "text",
                "id": "rowspan",
                "label": "Number of rowspan"
              },
              {
                "type": "text",
                "id": "key",
                "label": "Key Name"
              },
              {
                "type": "text",
                "id": "info_1",
                "label": "Info 1"
              },
              {
                "type": "text",
                "id": "info_2",
                "label": "Info 2"
              },
              {
                "type": "text",
                "id": "info_3",
                "label": "Info 3"
              },
              {
                "type": "text",
                "id": "info_4",
                "label": "Info 4"
              },
              {
                "type": "text",
                "id": "info_5",
                "label": "Info 5"
              }
            ]
          }
        ],"presets": [
    {
      "name": "Text-table"
    }
  ]
      }
    {% endschema %}