<div class="advs_section_left">
  {% if section.settings.insta_feed_heading %}
  <div class="insta_main_section">
  <h2>{{ section.settings.insta_feed_heading }}</h2>
  <p>{{ section.settings.insta_feed_desc }}</p>
  </div>
  {% endif %}

  <div class="insta_feed_section">
  {% for block in section.blocks %}
    {% if block.type == "instagram-feed" %}
      <div class="feed_card_ctm">
        
        {% if block.settings.adv_insta_img != blank %}
      <img src="{{ block.settings.adv_insta_img | img_url : 'master' }}" alt="image.alt | t" />
        {% endif %}
      
        {% if block.settings.insta_user_img != blank %}
      <img src="{{ block.settings.insta_user_img | img_url : 'master' }}" alt="image.alt | t" />
        {% endif %}
      
        {% if block.settings.insta_user_name != blank %}
      <a href="{{ block.settings.insta_account_link }}" target="_blank">{{ block.settings.insta_user_name }}</a>
        {% endif %}
        {% render 'insta-frame' %}
      
      
      {% if block.settings.insta_feed %}
      <p>{{ block.settings.insta_feed }}</p>
      {% endif %}
      
      </div>
    {% endif %}
  {% endfor %}
  </div>
  
  <div class="insta_content">
    {% if section.settings.insta_other_content != blank %}
    <p>{{ section.settings.insta_other_content }}</p>
    {% endif %}
  </div>

  <div class="insta_content_logo">
    {% for block in section.blocks %}
      {% if block.type == "logo" %}
        {% if block.settings.adv_logo_img != blank %}
        <img src="{{ block.settings.adv_logo_img | img_url : 'master' }}" alt="image.alt | t" />
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="insta_second_content">
    {% if section.settings.insta_logo_content != blank %}
    <p>{{ section.settings.insta_logo_content }}</p>
    {% endif %}
  </div>

  <div class="user_feed_image">
    {% for block in section.blocks %}
      {% if block.type == "user-feed" %}
        {% if block.settings.user_feed_img != blank %}
        <img src="{{ block.settings.user_feed_img | img_url : 'master' }}" alt="image.alt | t" />
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  
</div>

{% schema %}
  {
    "name": "Insta feed",
    "class":"adv_insta_feed",
    "settings": [
      {
        "type":"html",
        "id":"insta_feed_heading",
        "label":"Heading"
      },
      {
        "type":"html",
        "id":"insta_feed_desc",
        "label":"Description"
      },
      {
        "type":"html",
        "id":"insta_other_content",
        "label":"Before Logo Content"
      },
      {
        "type":"html",
        "id":"insta_logo_content",
        "label":"After Logo Content"
      }
    ],
    "blocks":[
      {
        "name":"Instagram feed",
        "type":"instagram-feed",
        "settings":[
          {
            "type":"image_picker",
            "id":"adv_insta_img",
            "label":"Image"
          },
          {
            "type":"image_picker",
            "id":"insta_user_img",
            "label":"User Image"
          },
          { 
            "type":"text",
            "id":"insta_user_name",
            "label":"User name"
          },
          {
            "type":"url",
            "id":"insta_account_link",
            "label":"Account Link"
          },
          {
            "type":"html",
            "id":"insta_feed",
            "label":"Feedback Detail"
          }
        ]
      },
      {
        "type":"logo",
        "name":"Logo",
        "settings":[
          {
            "type":"image_picker",
            "id":"adv_logo_img",
            "label":"Choose Logo Image"
          }
        ]
      },
      {
        "type":"user-feed",
        "name":"User Feed",
        "settings":[
          {
            "type":"image_picker",
            "id":"user_feed_img",
            "label":"Image"
          }
        ]
      }
    ]
  }
{% endschema %}

