<div class="bg-with-content relative lg:mt-50">
    {% if section.settings.bg-image != blank %}
    <div class="image-banner bg-cover h-[392px] md:h-500 lg:h-712" style="background-image:url({{ section.settings.bg-image | img_url:'master' }})"></div>
    <div class="content-box lgscreen:shadow-bgimg  lgscreen:mb-50 lgscreen:-mt-[46px] lgscreen:mx-auto lg:absolute right-[64px] top-minus_20 bg-navy-blue mindscreen:pb-[60px] mindscreen:pt-[75px] lg:pb-[54px] lg:py-64 py-[47px] rounded-10 mindscreen:w-610 lg:w-[520px] sm:w-[90%] w-[90%] mindscreen:px-[75px] lg:px-55 px-30">
      {% if section.settings.image-logo != blank %}
          <img src="{{ section.settings.image-logo | img_url: 'master' }}" class="mb-10 lgscreen:mx-auto lgscreen:block" alt="icon">
      {% endif %}
      {% if section.settings.sub-heading != blank %}
          <h6 class="lgscreen:text-center sm:!text-[25px] xl:!text-30 !text-20 xl:!leading-40 sm:!leading-34 !leading-[30px] text-white font-maintitle font-normal capitalize !m-0">{{ section.settings.sub-heading }}</h6>
      {% endif %}
      {% if section.settings.heading != blank %}
          <h2 class="lgscreen:text-center !text-24 sm:!text-[28px] xl:!text-38 !leading-34 sm:!leading-40 xl:!leading-48 text-white font-maintitle font-bold capitalize !m-0">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.content != blank %}
          <div class="content-desc mt-15 lgscreen:!text-left">{{ section.settings.content }}</div>
      {% endif %}
  </div>
    {% else %}
    {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
</div>

{% schema %}

{
    "name": "Background with content",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg-image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "image-logo",
        "label": "Icon"
      },
      {
        "type": "text",
        "id": "sub-heading",
        "label": "Sub Heading"
      },
      {
        "type": "html",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "html",
        "id": "content",
        "label": "Content"
      },
      {
        "type":"select",
            "id":"image_aligment",
            "options":[
              {
                "value": "image_left",
                "label": "Left"
              },
              {
                "value": "image_right",
                "label": "Right"
              }
            ],
            "label":"Image Alignment",
            "default":"image_left"
      }
          
       
    ],
    "presets": [
      {
        "name": "Background with content",
        "category":"image with text"
    
      }
    ]
  }
  {% endschema %}
  