<div class="feature-table-section flex flex-wrap">
  <div class="feature-hightleft bg-dark_blue w-1/2 p-80">
    <div class="feature-top mb-50">
      <div class="section-title">
        <h2 class="mb-35 text-white">{{ section.settings.heading }}</h2>
      </div>
      <div class="content_wrapper">
        {{ section.settings.content }}
      </div>
    </div>
    <div class="feature-bottom">
      <div class="section-title">
        <h2 class="mb-35 text-white">{{ section.settings.heading1 }}</h>
      </div>
      <div class="content_wrapper">
        <p>{{ section.settings.content1 }}</p>
      </div>
      <div>
        {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | img_url:'master' }}">
        {% endif %}
      </div>
    </div>
  </div>
      
   <div class="feature-hightright bg-blue w-1/2 p-80">
        <div class="block-title">
            <h3 class="section-title mb-20">{{section.settings.title}}</h3>
            <h4 class="section-subtitle mb-20">{{section.settings.subtitle}}</h4>
        </div>
        
        <div>
          {% for block in section.blocks %}
               {% if section.settings.checkbox == false %}
                <table>
                        <tr>
                            <td>{{block.settings.heading}}</td>
                            <td>{{block.settings.info}}</td>
                        </tr>
                </table>
        </div>
                {% endif %}
          <div>
                {% if section.settings.checkbox == true%}
                <table>
                    <tr><td colspan="2">{{block.settings.name}}</td></tr>
                    <tr><td colspan="2">{{block.settings.name1}}</td></tr>
                    <tr>
                      <td rowspan="6">{{block.settings.name2}}</td>
                    </tr>
                    <tr><td>{{block.settings.name3}}</td></tr>
                    <tr><td>{{block.settings.name4}}</td></tr>
                    <tr><td>{{block.settings.name5}}</td></tr>
                    <tr><td>{{block.settings.name6}}</td></tr>
                    <tr><td>{{block.settings.name7}}</td></tr>
                    <tr><td colspan="2">{{block.settings.name8}}</td></tr>
                    <tr><td colspan="2">{{block.settings.name9}}</td></tr>
                    <tr><td colspan="2">{{block.settings.name10}}</td></tr>
                </table>
                  {% endif %}
            
        </div>
        {% endfor %}
        
   </div>
   
</div>

{% schema %}
      {
        "name": "text-table",
        "class":"section",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "heading1",
            "label": "Heading-1"
          },
          {
            "type": "html",
            "id": "content1",
            "label": "Content-1"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type":"checkbox",
            "id":"checkbox",
            "label":"display second table",
            "default":false
          }
        ],
        "blocks": [
          {
            "type": "simple",
            "name": "Simple Table",
            "settings": [
              {
                "type": "text",
                "id": "heading",
                "label": "Name"
              },
              {
                "type": "text",
                "id": "info",
                "label": "Information"
              }
            
            ]
            
          },
          {
            "type": "complex",
            "name": "Complex Table",
            "settings": [
              {
                "type": "text",
                "id": "onlyname",
                "label": "Single Name"
              },
              {
                "type": "text",
                "id": "name",
                "label": "Name"
              },
              {
                "type": "text",
                "id": "info",
                "label": "Info"
              },
              {
                "type":"select",
                "id":"colspan",
                "label":"Select colspan for table",
                "options": [
              {
                "value": "1",
                "label": "one"
              },
              {
                "value": "2",
                "label": "two"
              },
              {
                "value": "3",
                "label": "three"
              }
            ],
            "default": "2"
                        }
                      ]
            
          }
        ],"presets": [
    {
      "name": "Text-table"
    }
  ]
      }
    {% endschema %}