<div class="advs_section_left">
  {% if section.setting.icon_main_heading != '' %}
      <div class="icon_zigzag_main">
      <h2>{{ section.settings.icon_main_heading }}</h2>
      </div>
    {% endif %}

  <div class="zigzag_icon_display">
    {% for block in section.blocks %}
        {% capture icon_img_placement %}
          <div class="img_wrapper">
             <img src="{{ block.settings.icon_zigzag_img | img_url : 'master' }}" alt="image.alt | t" />
          </div>
       {% endcapture %}
      {% if block.type == "zigzag" %}
        {% if block.settings.icon_image_aligment == 'image_left' %}
          {{ icon_img_placement }}
        {% endif %}
       
        <div class="icon_zig_zag_content">
          <h4>{{ block.settings.icon_zigzag_title }}</h4>
          <p>{{ block.settings.icon_zigzag_content }}</p>
        </div>

        {% if block.settings.icon_image_aligment == 'image_right' %}
          {{ icon_img_placement }}
        {% endif %}
    
        {% endif %}
      {% endfor %}

  </div>

  <div class="advs_section_avl-btn">
      {% if section.setting.zigzag_btn_text != '' %}
         <a href="{{ section.settings.available_link }}">{{ section.settings.zigzag_btn_text }}</a>
      {% endif %}
    </div>
</div>



{% schema %}
  {
    "name": "Icon zigzag",
    "class":"adv_icon_zigzag",
    "settings": [
      {
        "type":"text",
        "id":"icon_main_heading",
        "label":"Heading"
      },
      {
        "type":"text",
        "id":"zigzag_btn_text",
        "label":"Check Button",
         "default" : "CHECK AVAILABILITY"
      },
      {
        "type":"url",
        "id":"zigzag_btn_link",
        "label":"Check Link"
      }
    ],
    "blocks":[
      {
        "name":"Image",
        "type":"image",
        "settings":[
          {
            "type":"image_picker",
            "id":"zigzag_image_demo",
            "label":"Image"
          }
        ]
      },
      {
        "type":"zigzag",
        "name":"Icon Zigzag",
        "settings":[
          {
            "type":"html",
            "id":"icon_zigzag_title",
            "label":"Heading"
          },
          {
            "type":"html",
            "id":"icon_zigzag_content",
            "label":"Content"
          },
          {
            "type":"image_picker",
            "id":"icon_zigzag_img",
            "label":"Image"
          },
          {
            "type":"select",
            "id":"icon_image_aligment",
            "options":[
              {
                "value": "image_left",
                "label": "Left"
              },
              {
                "value": "image_right",
                "label": "Right"
              }
            ],
            "label":"Image Alignment",
            "default":"image_left"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}