<div class="client-satisfaction py-40 small_desktop:py-80 client-img {{ section.settings.extra_class }} {% if section.settings.image1 != blank %}{{ section.settings.bg_gradiant }}{% endif %}" style="background-color:{{section.settings.color}}; color:{{ section.settings.color_text }}; background-image:url('{% if section.settings.image1 !=blank %}{{ section.settings.image1 | img_url:'master' }}{% endif %}');">
  <div class="container">
  <div class="clientsatis_wrapper {% if section.settings.image1 != blank %}relative{% endif %}">
    <div class="clientinner-servwrapp">
      
      {% if section.settings.heading != blank %}
        <div class="section-title mb-20">
          <{{ section.settings.heading_tag }} class="content-title text-center {{ section.settings.heading_case }} {% unless section.settings.color == "#050b42" or section.settings.color == ""  %} text-black {% else %} text-white {% endunless %}">{{section.settings.heading}}</{{ section.settings.heading_tag }}>
        </div>
      {% endif %}

      <div class="content_wrapper  {% unless section.settings.color == "#050b42" or section.settings.color == ""  %} text-body {% else %} text-white {% endunless %}  {{ section.settings.content_position }}">
        {{section.settings.info}}
      </div>
      <div class="btn-content-block{% if section.settings.button_label != blank %} mt-20 {% endif %}">
      {% if section.settings.button_label != blank %}
        <a class="btnred" href="{{section.settings.button_link}}">{{section.settings.button_label}}</a>
      {% endif %}
      </div>
      {% if section.settings.info_1 != blank %}
      <div class="content_wrapper  {% unless section.settings.color == "#050b42" or section.settings.color == ""  %} text-body {% else %} text-white {% endunless %}  {{ section.settings.content_position }}">
        {{section.settings.info_1}}
      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% schema %}
{
  "name": "Info text",
  "tag": "section",
  "class": "section",
  "settings": [
        {
          "type": "text",
          "id": "extra_class",
          "label": "Extra Class"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type":"select",
          "id":"heading_tag",
          "label":"Heading Tag",
          "options":[
              {
                  "value":"h2",
                  "label":"h2"
              },
              {
                  "value":"h4",
                  "label":"h4"
              }
          ],
          "default": "h2"
        },
        {
            "type":"select",
            "id":"heading_case",
            "label":"Heading Case",
            "options":[
                {
                  "value":"capitalize",
                  "label":"Capitalize"
                },
                {
                  "value":"uppercase",
                  "label":"Uppercase"
                }
            ],
            "default": "capitalize"
        },
        {
            "type":"select",
            "id":"content_position",
            "label":"Position",
            "options":[
                {
                  "value":"center",
                  "label":"Center"
                },
                {
                  "value":"left",
                  "label":"Left"
                },
                {
                  "value":"right",
                  "label":"Right"
                }
            ],
            "default": "center"
        },
        
        {
          "type": "html",
          "id": "info",
          "label": "Information"
        },
        { 
          "type":"text",
          "id":"button_label",
          "label":"Button label"
        },
        {
          "type":"url",
          "id":"button_link",
          "label":"Button link"
        },
        {
          "type": "html",
          "id": "info_1",
          "label": "Other Information"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Background-color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Color",
          "default": "#000"
        },
        {
          "type":"image_picker",
          "id":"image1",
          "label":"Background Image"
        },
        {
          "type":"select",
          "id":"bg_gradiant",
          "label":"Background Effect",
          "options":[
              {
                "value":"sec-bg-blc-gradiant",
                "label":"Black"
              },
              {
                "value":"section-bg-gradiant",
                "label":"Blue"
              }
          ],
          "default": "section-bg-gradiant"
        }
      ],
      "presets": [
        {
          "name": "Info text"
        }
      ]
}
{% endschema %}