<div class="advs_section_left">
  {% if section.settings.insta_feed_heading %}
  <div class="insta_main_section">
  <h2>{{ section.settings.insta_feed_heading }}</h2>
  <p>{{ section.settings.insta_feed_desc }}</p>
  </div>
  {% endif %}

  <div class="insta_feed_section">
  {% for block in section.blocks %}
    {% if block.type == "instagram-feed" %}
      <div class="feed_card_ctm">
        
        {% if block.settings.adv_insta_img != blank %}
      <img src="{{ block.settings.adv_insta_img | img_url : 'master' }}" alt="image.alt | t" />
        {% endif %}
      
        {% if block.settings.insta_user_img != blank %}
      <img src="{{ block.settings.insta_user_img | img_url : 'master' }}" alt="image.alt | t" />
        {% endif %}
      
        {% if block.settings.insta_user_name != blank %}
      <a href="{{ block.settings.insta_account_link }}" target="_blank" >{{ block.settings.insta_user_name }}</a>
        {% endif %}
        
      {% render 'Frame.svg' %}
      
      {% if block.settings.insta_feed %}
      <p>{{ block.settings.insta_feed }}</p>
      {% endif %}
      
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Insta feed",
    "class":"adv_insta_feed",
    "settings": [
      {
        "type":"html",
        "id":"insta_feed_heading",
        "label":"Heading"
      },
      {
        "type":"html",
        "id":"insta_feed_desc",
        "label":"Description"
      }
    ],
    "blocks":[
      {
        "name":"Instagram feed",
        "type":"instagram-feed",
        "settings":[
          {
            "type":"image_picker",
            "id":"adv_insta_img",
            "label":"Image"
          },
          {
            "type":"image_picker",
            "id":"insta_user_img",
            "label":"User Image"
          },
          { 
            "type":"text",
            "id":"insta_user_name",
            "label":"User name"
          },
          {
            "type":"url",
            "id":"insta_account_link",
            "label":"Account Link"
          },
          {
            "type":"html",
            "id":"insta_feed",
            "label":"Feedback Detail"
          }
        ]
      }
    ]
  }
{% endschema %}

